<h1>Twitter</h1>
<h1>Search user</h1>
<form action='/twitter/search_user' id='search-user'>
  <p>Nickname:</p>
  <input type='text' name='nickname'/>
  <input type='submit'>
</form>

<div id='result-search'>
<br/>

<h3>Your tracked user:</h3>

<% tracked_users.each do |user| %>
    <p id=<%= user.id %> ><%= user.name %> 
    <button id="untrack" value=<%= user.id %> >Untrack user</button> </p> 
<% end %>
